main{
    background-color: #fff;
   
    min-height:calc(100vh - 200px);
}
header{
border: 2px solid  rgb(39, 33, 33);
}
.imag{
    height: 50px;
}

H1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #707070;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    width: 200%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 5rem 15rem;
    
}
.ident{
    display: flex;
    flex-direction: column;
   
    margin: 1 rem;
}
.ident label{
    font-size: 0.9rem;
    margin-bottom:0.2rem;
    color: #696969;
    padding: 0.4rem 2.3rem;
}
.ident input{
    font-size: 2rem;
    height: 1.2rem;
    padding-left: 1.5rem;
    border: 2px solid #696969;
    border-radius: 5px;
    padding: 0.8rem 2.3rem;
    
     
}
.id{
    width: 10rem; 
  
}
select{
    font-size: 1.1rem;
    height: 1.6rem;
    padding-left: 0.5rem;
    border: 2px solid #696969;
    border-radius: 5px;  
   
}
.boton{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding: 5rem 1rem;
   
    
}
.boton button{
    background-color:#428bca;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;

    transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    -moz-transition: 1s;
}
.boton button:hover{
    background-color: #428bca;
    
}

