#container h1{
    font-size:35px;
    display:inline-block;
}
table{
    border-collapse: collapse;
    font-size: 12pt;
    font-family: Arial;
    width: 100%;
}
table th{
    text-align: left;
    padding: 10px;
    background: #3d7ba8; ;
    color: #fff;
}
H1{
    font-size: 2rem;
    font-weight: bold;

    color: #707070;
}
table tr:nth-child(odd){
    background: #fff;
}
table td{
    padding: 10px;
}
.link-edit{
    color: #0ca4ce;
}
.link-delete{
    color: #f26b6b;
}
.paginador ul{
    padding: 15px;
    list-style:none;
    background: #fff;
    margin-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display:-ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    }
.paginador a, .pageSelected{
    color: #428bca;
    border: 1px solid #ddd;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 35px;
}
.paginador a:hover{
    background: #ddd;
}
.pageSelected{
    color: #fff;
    background: #428bca;
    border:1px solid #428bca;
   
   
   
}
.form-search{
    display:-webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    float: right;
    background: initial;
    padding: 10px;
    border-radius: solid 10px ;
    justify-content: flex-end;
}
.form-search .btn-search{
    padding: 8px;
}
.btn-search{
    background-color: #1faac8;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 0 3px;
    color: #fff;
}
.btn-search img{
    height: 17px;
    width:15px;
}
.form-search-date{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    margin: 10px auto;
}
.form-search-date label{
    margin: 0 10px;
}
.form-search-date input{
    width: auto;
}
.form-search-date .btn-view{
    padding: 8px;
}
.btn-view{
    background-color: #1faac8;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 0 3px;
    color: #fff;
}
.btn-view img{
    height: 17px;
    width:15px;
}
.btn-edit-venta{
    background-color: #f26b6b;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 0 3px;
    color: #fff;  
}
.btn-delete-venta{
    background-color: forestgreen;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 0 3px;
    color: #fff;      
}
.btn-edit-venta img{
    height: 17px;
    width: 15px;
}
.btn-delete-venta img{
    height: 17px;
    width:15px;
}
